$heroBg: #1dd1a1;
/*** Header section ***/
.header {
  padding: 15px 10px;
  background: $heroBg;
  z-index: 1000;
  .header-wrapper {
    width: 80%;
    display: flex;
    margin: auto;
    .header-text {
      color: white;
      margin: auto 0;
    }
    .header-item {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-size: 1.5rem;
      margin: auto 0;
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
/*** Navigation section ***/
.navigation-btn {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  .hidden-icon.--left {
    margin-right: 3px;
    font-size: 2rem;
  }
}
/*** About section ***/
.page-title {
  width: 80%;
  margin: auto;
}
.about-text {
  width: 80%;
  margin: 1em auto;
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){
  .detail-section,
  .remark-section {
    width: 100%;
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
  .header {
    .header-wrapper {
      width: 90%;
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  .navigation-wrapper {
    width: 80%;
    margin: auto;
  }
  .header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  .header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  .navigation-wrapper {
    width: 90%;
    margin: auto;
    .navigation-btn {
      font-size: 2rem;
      .hidden-icon.--left {
        font-size: 1.5rem;
      }
    }
  }
  /*** About section ***/
  .page-title {
    width: 90%;
  }
  .about-text {
    width: 90%;
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  .header {
    .header-wrapper {
      width: 90%;
    }
  }

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  .navigation-wrapper {
    width: 90%;
    margin: auto;
  }
  .header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  /*** About section ***/
  .page-title {
    width: 90%;
  }
  .about-text {
    width: 90%;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  .header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  .navigation-wrapper {
    width: 90%;
    margin: auto;
    .navigation-btn {
      font-size: 2rem;
      .hidden-icon.--left {
        font-size: 1.5rem;
      }
    }
  }
  /*** About section ***/
  .page-title {
    width: 90%;
  }
  .about-text {
    width: 90%;
  }
}
