<section class="header">
  <div class="header-wrapper">
    <h1 class="header-text">Animal Adoption</h1>
    <a class="header-item" routerLink="/about">關於</a>
  </div>
</section>
<div class="layout">
  <!-- Navigation area -->
  <div class="navigation-wrapper">
    <a class="navigation-btn" routerLink="/" aria-label="home page">
      <fa-icon class="hidden-icon --left"[icon]="faAngleLeft"></fa-icon>
      <fa-icon class="hidden-icon"[icon]="faHome"></fa-icon>
    </a>
  </div><!-- End of navigation area -->
</div>
<div class="layout">
  <!-- About section -->
  <h2 class="page-title">關於</h2>
  <div class="detail-wrapper">
    <p class="about-text">Animal Adoption 是一個以提倡動物領養為出發點的自我學習型網站。此網站上所有動物領養的相關資訊皆來自臺灣政府資料開放平台 ─ 行政部農業委員會所提供的動物領養資料。該平台提供全台動物收容所以及所有可領養動物的最新資訊。<br><br>此網站則是以這些資料為基礎，往後延伸出來的應用。除了希望可以替這些資料設計出更貼近大眾的呈現方式外，也希望透過結合政府的資料，替這些毛小孩及可望領養的人士提供一個簡單便易的管道。</p>
  </div>
</div>
