<a class="link-wrapper" [routerLink]="['/animal', data?.animal_id]" (click)="storeData()">
  <div class="card-container">
    <!-- <a class="link-wrapper" [routerLink]="['/animal', data?.animal_id]" (click)="storeData()"> -->
      <!-- Image Section -->
      <div class="img-wrapper">
        <ng-container [ngSwitch]="data['animal_kind']">
          <!-- Dog -->
          <ng-container *ngSwitchCase="'狗'">
            <ng-container *ngIf="data?.album_file;else emptyDog">
              <img class="main-img" [src]="data['album_file']" [alt]="data?.animal_kind + ': ' + data?.animal_id" loading="lazy">
            </ng-container>
            <ng-template #emptyDog>
              <img class="main-img" src="/assets/img/dog.jpg" alt="dog picture" loading="lazy">
            </ng-template>
          </ng-container>
          <!-- Cat -->
          <ng-container *ngSwitchCase="'貓'">
            <ng-container *ngIf="data?.album_file !== '';else emptyCat">
              <img class="main-img" [src]="data['album_file']" [alt]="data?.animal_kind + ': ' + data?.animal_id" loading="lazy">
            </ng-container>
            <ng-template #emptyCat>
              <img class="main-img" src="/assets/img/cat.png" alt="dog picture" loading="lazy">
            </ng-template>
          </ng-container>
        </ng-container>
      </div><!-- End of image section -->
      <!-- Detail Section -->
      <div class="detail-wrapper">
        <!-- Gender -->
        <div class="detail-row --gender">
          <span class="detail-text --title">性別</span>
          <ng-container [ngSwitch]="data['gender']">
            <fa-icon class="detail-text --detail --gender" *ngSwitchCase="'N'" [icon]="['fas', 'question']"></fa-icon>
            <fa-icon class="detail-text --detail --gender" *ngSwitchCase="'M'" [icon]="['fas', 'mars']"></fa-icon>
            <fa-icon class="detail-text --detail --gender" *ngSwitchCase="'F'" [icon]="['fas', 'venus']"></fa-icon>
          </ng-container>
        </div>
        <!-- Size -->
        <div class="detail-row --size">
          <span class="detail-text --title">體型</span>
          <span class="detail-text --detail">{{ data['size'] }}</span>
        </div>
        <!-- Location -->
        <div class="detail-row --location">
          <span class="detail-text --title">所在地</span>
          <span class="detail-text --detail">{{ data['city'] }}</span>
        </div>
      </div><!-- End of Detail Section -->
      <!-- Hidden Section -->
      <div class="hidden-wrapper">
        <div class="round-img-wrapper">
          <div class="inner-round-img-wrapper">
            <ng-container [ngSwitch]="data['animal_kind']">
              <!-- Dog -->
              <ng-container *ngSwitchCase="'狗'">
                <ng-container *ngIf="data?.album_file;else hiddenEmptyDog">
                  <img class="round-img" [src]="data['album_file']" [alt]="data?.animal_kind + ': ' + data?.animal_id" loading="lazy">
                </ng-container>
                <ng-template #hiddenEmptyDog>
                  <img class="round-img" src="/assets/img/dog.jpg" alt="dog picture" loading="lazy">
                </ng-template>
              </ng-container>
              <!-- Cat -->
              <ng-container *ngSwitchCase="'貓'">
                <ng-container *ngIf="data?.album_file !== '';else hiddenEmptyCat">
                  <img class="round-img" [src]="data['album_file']" [alt]="data?.animal_kind + ': ' + data?.animal_id" loading="lazy">
                </ng-container>
                <ng-template #hiddenEmptyCat>
                  <img class="round-img" src="/assets/img/cat.png" alt="dog picture" loading="lazy">
                </ng-template>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <!-- Hidden details -->
        <div class="hidden-detail-wrapper">
          <span class="shelter">{{ data['animal_place'] }}</span>
          <!-- Address -->
          <div class="hidden-row --address">
            <fa-icon class="hidden-icon"[icon]="['fas', 'home']"></fa-icon>
            <span class="hidden-detail">{{ data['shelter_address'] }}</span>
          </div>
          <!-- Telephone -->
          <div class="hidden-row --phone">
            <fa-icon class="hidden-icon"[icon]="['fas', 'phone-alt']"></fa-icon>
            <span class="hidden-detail">{{ data['shelter_tel'] }}</span>
          </div>
        </div>
      </div><!-- End of Hidden section -->
    <!-- </a> -->
  </div>
</a>
