$borderColor: #ddd;
$mainColor: #1dd1a1;
::ng-host {
  display: block;
  width: 100%;
}
.filter-wrapper {
  box-sizing: border-box;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  .selected,
  .option-item {
    display: block;
    padding: 5px 10px;
    border: 1px solid $borderColor;
  }
  .selected {
    border-radius: 5px;
  }
  .option-item {
    border-top: none;
    &:hover {
      background: #efefef;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .selected {
    z-index: 2;
  }
}
::ng-deep {
  .filter-wrapper .fa-caret-down {
    position: absolute;
    top: 8px;
    right: 15px;
    transition: transform .2s linear;
    transform-origin: 50% 50%;
  }
  .filter-wrapper.expanded .fa-caret-down {
    transform: rotate(-180deg);
  }
}
.filter-menu {
  background: white;
  transition: all .2s ease-in;
  z-index: 1;
  max-height: 180px;
  overflow-y: auto;
}
.collapsed .filter-menu {
  transform: translateY(-50px) translateZ(-2px);
  opacity: 0;
}
.expanded {
  z-index: 4;
  .filter-menu {
    transform: translateY(0) translateZ(2px);
    opacity: 1;
  }
  .selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  .filter-wrapper {
    border: 1px solid $borderColor;
    .selected {
      border-radius: 0 !important;
      border: none;
      text-align: right;
      margin-right: 30px;
    }
  }
  .filter-menu {
    transition: all .2s linear;
    border-radius: 0 !important;
    background: #efefef;
  }
  .collapsed .filter-menu {
    max-height: 0;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  .filter-wrapper {
    border: 1px solid $borderColor;
    .selected {
      border-radius: 0 !important;
      border: none;
      text-align: right;
      margin-right: 30px;
    }
  }
  .filter-menu {
    transition: all .2s linear;
    border-radius: 0 !important;
    background: #efefef;
  }
  .collapsed .filter-menu {
    max-height: 0;
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  .filter-wrapper {
    border: 1px solid $borderColor;
    .selected {
      border-radius: 0 !important;
      border: none;
      text-align: right;
      margin-right: 30px;
    }
  }
  .filter-menu {
    transition: all .2s linear;
    border-radius: 0 !important;
    background: #efefef;
  }
  .collapsed .filter-menu {
    max-height: 0;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  .filter-wrapper {
    border: 1px solid $borderColor;
    .selected {
      border-radius: 0 !important;
      border: none;
      text-align: right;
      margin-right: 30px;
    }
  }
  .filter-menu {
    transition: all .2s linear;
    border-radius: 0 !important;
    background: #efefef;
  }
  .collapsed .filter-menu {
    max-height: 0;
  }
}
