<section class="header">
  <h1 class="header-text">Animal Adoption</h1>
</section>
<div class="layout">
  <!-- Navigation area -->
  <div class="navigation-wrapper">
    <a class="navigation-btn" routerLink="/" aria-label="home page">
      <fa-icon class="hidden-icon --left"[icon]="['fas', 'angle-left']"></fa-icon>
      <fa-icon class="hidden-icon"[icon]="['fas', 'home']"></fa-icon>
    </a>
  </div><!-- End of navigation area -->
  <!-- Profile image section -->
  <section class="profile-wrapper">
    <div class="inner-profile-wrapper">
      <ng-container [ngSwitch]="data?.animal_kind">
        <!-- Dog -->
        <ng-container *ngSwitchCase="'狗'">
          <ng-container *ngIf="data?.album_file;else hiddenEmptyDog">
            <img class="profile-img" [src]="data['album_file']" [alt]="data['animal_kind'] + ': ' + data['animal_id']" loading="lazy">
          </ng-container>
          <ng-template #hiddenEmptyDog>
            <img class="profile-img" src="../../assets/img/dog.jpg" alt="dog picture" loading="lazy">
          </ng-template>
        </ng-container>
        <!-- Cat -->
        <ng-container *ngSwitchCase="'貓'">
          <ng-container *ngIf="data?.album_file !== '';else hiddenEmptyCat">
            <img class="profile-img" [src]="data['album_file']" [alt]="data['animal_kind'] + ': ' + data['animal_id']" loading="lazy">
          </ng-container>
          <ng-template #hiddenEmptyCat>
            <img class="profile-img" src="../../assets/img/cat.png" alt="dog picture" loading="lazy">
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </section>
  <!-- Detail section -->
  <section class="detail-section">
    <!-- 編號 -->
    <div class="detail-wrapper">
      <span class="detail-title">編號</span>
      <span class="detail">{{ data?.animal_id }}</span>
    </div>
    <!-- 絕育 -->
    <div class="detail-wrapper">
      <span class="detail-title">絕育</span>
      <ng-container [ngSwitch]="data?.animal_sterilization">
        <span class="detail" *ngSwitchCase="'T'">有</span>
        <span class="detail" *ngSwitchCase="'F'">無</span>
        <span class="detail" *ngSwitchCase="'N'">未輸入</span>
      </ng-container>
    </div>
    <!-- 區域編號 -->
    <div class="detail-wrapper">
      <span class="detail-title">區域編號</span>
      <span class="detail">{{ data?.animal_subid }}</span>
    </div>
    <!-- 施打狂犬疫苗 -->
    <div class="detail-wrapper">
      <span class="detail-title">施打狂犬疫苗</span>
      <ng-container [ngSwitch]="data?.animal_bacterin">
        <span class="detail" *ngSwitchCase="'T'">是</span>
        <span class="detail" *ngSwitchCase="'F'">否</span>
        <span class="detail" *ngSwitchCase="'N'">未輸入</span>
      </ng-container>
    </div>
    <!-- 體型 -->
    <div class="detail-wrapper">
      <span class="detail-title">體型</span>
      <span class="detail">{{ data?.size }}</span>
    </div>
    <!-- 發現地 -->
    <div class="detail-wrapper">
      <span class="detail-title">發現地</span>
      <span class="detail">{{ data?.animal_foundplace }}</span>
    </div>
    <!-- 年齡 -->
    <div class="detail-wrapper">
      <span class="detail-title">年齡</span>
      <ng-container [ngSwitch]="data?.animal_age">
        <span class="detail" *ngSwitchCase="'CHILD'">幼年</span>
        <span class="detail" *ngSwitchCase="'ADULT'">成年</span>
      </ng-container>
    </div>
    <!-- 收容所 -->
    <div class="detail-wrapper">
      <span class="detail-title">收容所</span>
      <span class="detail">{{ data?.shelter }}</span>
    </div>
    <!-- 顏色 -->
    <div class="detail-wrapper">
      <span class="detail-title">顏色</span>
      <span class="detail">{{ data?.animal_colour }}</span>
    </div>
    <!-- 收容所地址 -->
    <div class="detail-wrapper">
      <span class="detail-title">收容所地址</span>
      <span class="detail">{{ data?.shelter_address }}</span>
    </div>
    <!-- 性別 -->
    <div class="detail-wrapper">
      <span class="detail-title">性別</span>
      <ng-container [ngSwitch]="data?.gender">
        <span class="detail" *ngSwitchCase="'M'">公</span>
        <span class="detail" *ngSwitchCase="'F'">母</span>
        <span class="detail" *ngSwitchCase="'N'">未輸入</span>
      </ng-container>
    </div>
    <!-- 電話 -->
    <div class="detail-wrapper">
      <span class="detail-title">電話</span>
      <span class="detail">{{ data?.shelter_tel }}</span>
    </div>
    <!-- 所在地 -->
    <div class="detail-wrapper">
      <span class="detail-title">所在地</span>
      <span class="detail">{{ data?.city }}</span>
    </div>
  </section>
  <!-- Remark section -->
  <section class="remark-section">
    <span class="detail-title">簡介</span>
    <p class="detail">{{ data?.animal_remark }}</p>
  </section>
</div>
