/*** Hero image section ***/
$heroBg: #1dd1a1;
.hero-img__container {
  width: 100%;
  height: 400px;
  background: $heroBg;
  .hero-wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    /* Inspired text */
    .inspire-text {
      color: white;
      margin: 0;
      font-size: 2rem;
    }
    /* Hero image */
    .hero-img {
      width: 80%;
      height: 80%;
      margin: auto;
      text-align: center;
      background-size: cover;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: calc(50% - 40%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
/*** Secondary header ***/
.secondary-header {
  border-bottom: 1px solid gray;
  padding: 15px 10px;
  background: $heroBg;
  display: none;
  .header-text {
    display: block;
    width: 80%;
    margin: auto;
    color: white;
  }
}
::ng-deep {
  .scroll-passed {
    .secondary-header {
      display: block;
      position: sticky;
      top: 0;
    }
    .layout {
      margin-top: 90px;
    }
  }
}
/*** Filter section ***/
$borderColor: #ddd;
.search-container {
  display: flex;
  justify-content: space-between;
  transform-style: preserve-3d;
  .filter-container {
    width: 72%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // Filter title
  .filter-title {
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 5px;
  }
  .filter-wrapper {
    width: calc(25% - 20px);
  }
  .filter-inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .filter-inner-wrapper.--additional {
    border-radius: 10px;
    border: 3px dashed #ddd;
    margin-top: -80px;
    padding: 10px;
    &.hidden {
      display: none;
    }
  }
  .search-btn-wrapper {
    width: calc(28% - 20px);
    margin-top: 30px;
    .search-btn {
      margin: 5px 10px;
    }
  }
}
