.layout {
  transform-style: preserve-3d;
}
/*** Hero image section ***/
$heroBg: #1dd1a1;
.hero-img__container {
  width: 100%;
  height: 400px;
  background: $heroBg;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dropin .45s ease-out forwards;
  /* Inspired text */
  .inspire-text {
    font-weight: bold;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);
    animation: text-flyin .6s ease-out both .45s;
  }
}
// Animation for hero image
@keyframes dropin {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// Animation for inspired text
@keyframes text-flyin {
  0% {
    opacity: 0;
    transform: scale(.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*** Secondary header ***/
.secondary-header {
  padding: 15px 10px;
  background: $heroBg;
  display: none;
  z-index: 1000;
  .header-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    .header-text {
      color: white;
      margin: auto 0;
    }
    .header-item {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-size: 1.5rem;
      margin: auto 0;
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
::ng-deep {
  .scroll-passed {
    .secondary-header {
      display: block;
      position: sticky;
      top: 0;
    }
    .layout {
      margin-top: 10px;
    }
  }
}
/*** Filter section ***/
$borderColor: #ddd;
.search-icon-wrapper {
  width: 90%;
  text-align: right;
  display: none;
  .search-icon {
    background: none;
    color: black;
    padding: 0;
    border: none;
    box-shadow: none;
    min-width: unset;
    font-size: 1.6rem;
    margin: 10px 0;
  }
}
.search-container {
  display: flex;
  justify-content: space-between;
  transform-style: preserve-3d;
  flex-wrap: wrap;
  // Filter title
  .filter-title {
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 5px;
  }
  .filter-inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &.--regular {
      order: 1;
      width: calc(67% - 20px);
      justify-content: end;
      .filter-wrapper {
        margin-right: 20px;
        width: calc(33% - 20px);
      }
    }
  }
  .filter-inner-wrapper.--additional {
    border-radius: 10px;
    border: 3px dashed #ddd;
    padding: 10px;
    width: 100%;
    order: 3;
    margin-top: -100px;
    &.hidden {
      display: none;
    }
    .filter-wrapper {
      width: calc(20% - 20px);
    }
  }
  .search-btn-wrapper {
    width: calc(33% - 20px);
    order: 2;
    .search-btn {
      margin: 5px 10px;
    }
  }
}
/*** Animal Section ***/
virtual-scroller {
  width: 100%;
  height: 500px;
}
::ng-deep {
  .animal-section {
    &.additional-closed {
      z-index: 3;
    }
    .scrollable-content {
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      align-content: flex-start;
      height: 100%;
      .animal-card {
        width: calc(25% - 20px);
        height: fit-content;
        z-index: 5;
        margin: 15px 10px;
      }
    }
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){
  /*** Animal Section ***/
  .animal-section {
    margin-top: -100px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){
  .hero-img__container {
    height: 300px;
    .inspire-text {
      font-size: 2.5rem;
    }
  }
  .search-container {
    .filter-title {
      font-size: 1.2rem;
    }
  }
  /*** Animal Section ***/
  ::ng-deep {
    .animal-section .scrollable-content{
      margin-top: -100px;
      &.additional-opened {
        margin-top: 0;
      }
      .animal-card {
        width: calc(33% - 20px);
      }
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
  .hero-img__container {
    height: 250px;
    .inspire-text {
      font-size: 2rem;
    }
  }
  .secondary-header {
    .header-wrapper {
      width: 90%;
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 40px;
    }
  }
  .search-container {
    .filter-title {
      font-size: 1.2rem;
    }
    .filter-inner-wrapper {
      .--regular {
        width: calc(57% - 20px);
      }
      &.--additional {
        flex-wrap: wrap;
        justify-content: end;
      }
    }
    .filter-inner-wrapper.--additional {
      transform-style: preserve-3d;
      .filter-wrapper {
        width: calc(33% - 20px);
        margin-right: 20px;
      }
      .filter-wrapper:nth-child(4),
      .filter-wrapper:nth-child(5) {
        margin-top: -100px;
      }
    }
    .search-btn-wrapper {
      width: calc(36% - 20px);
      .search-btn {
        font-size: 1rem;
        padding: 10px;
        margin-left: 0;
      }
    }
  }
  /*** Animal Section ***/
  ::ng-deep {
    .animal-section .scrollable-content{
      margin-top: -100px;
      &.additional-opened {
        margin-top: 0;
      }
      .animal-card {
        width: calc(33% - 20px);
      }
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  .hero-img__container {
    height: 60%;
    height: 60vh;
    .inspire-text {
      font-size: 24px;
    }
  }
  .secondary-header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
    &.search-opened {
      z-index: 10;
    }
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  ::ng-deep {
    .animal-section {
      margin-top: 50px;
      .scrollable-content{
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0;
        .animal-card {
          width: calc(50% - 20px);
        }
      }
    }
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  .hero-img__container {
    height: 60%;
    height: 60vh;
    .inspire-text {
      font-size: 24px;
    }
  }
  .secondary-header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
    &.search-opened {
      z-index: 10;
    }
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  ::ng-deep {
    .animal-section {
      margin-top: 50px;
      .scrollable-content{
        margin: auto;
        margin-top: 0px;
        .animal-card {
          width: 100%;
        }
      }
    }
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){
  /*** Animal Section ***/
  ::ng-deep {
    .animal-section .scrollable-content{
      margin-top: -100px;
      &.additional-opened {
        margin-top: 0;
      }
    }
  }
}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){
  .hero-img__container {
    height: 30%;
    height: 30vh;
  }
  .inspire-text {
    font-size: 2.5rem;
  }
  .search-container {
    .filter-container {
      width: 67%;
    }
    .filter-title {
      font-size: 1.2rem;
    }
    .search-btn-wrapper {
      width: calc(33% - 20px);
    }
  }
  /*** Animal Section ***/
  ::ng-deep {
    .animal-section .scrollable-content{
      margin-top: -120px;
      &.additional-opened {
        margin-top: 0;
      }
      .animal-card {
        width: calc(33% - 20px);
      }
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  .hero-img__container {
    height: 30%;
    height: 30vh;
    .inspire-text {
      font-size: 2rem;
    }
  }
  .secondary-header {
    .header-wrapper {
      width: 90%;
    }
  }
  .search-container {
    .filter-title {
      font-size: 1.2rem;
    }
    .filter-inner-wrapper {
      .--regular {
        width: calc(57% - 20px);
      }
      &.--additional {
        flex-wrap: wrap;
        justify-content: end;
      }
    }
    .filter-inner-wrapper.--additional {
      transform-style: preserve-3d;
      .filter-wrapper {
        width: calc(33% - 20px);
        margin-right: 20px;
      }
      .filter-wrapper:nth-child(4),
      .filter-wrapper:nth-child(5) {
        margin-top: -100px;
      }
    }
    .search-btn-wrapper {
      width: calc(36% - 20px);
      .search-btn {
        font-size: 1rem;
        padding: 10px;
        margin-left: 0;
      }
    }
  }
  /*** Animal Section ***/
  ::ng-deep {
    .animal-section .scrollable-content{
      margin-top: -120px;
      &.additional-opened {
        margin-top: 0;
      }
      .animal-card {
        width: calc(33% - 20px);
      }
    }

  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  .hero-img__container {
    height: 30%;
    height: 30vh;
    .inspire-text {
      font-size: 1.5rem;
    }
  }
  .secondary-header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
    &.search-opened {
      z-index: 10;
    }
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  ::ng-deep {
    .animal-section {
      margin-top: 50px;
      .scrollable-content{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0px;
        .animal-card {
          width: calc(50% - 20px);
        }
      }
    }
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  .hero-img__container {
    height: 30%;
    height: 30vh;
    .inspire-text {
      font-size: 1.2rem;
    }
  }
  .secondary-header {
    .header-wrapper {
      width: 100%;
      .header-item {
        margin-right: 10px;
        font-size: 1.2rem;
      }
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
    &.search-opened {
      z-index: 10;
    }
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  ::ng-deep {
    .animal-section {
      margin-top: 50px;
      .scrollable-content{
       margin-top: 0;
       margin-left: 0;
       margin-right: 0;
       .animal-card {
         width: calc(50% - 10px);
         margin: 10px 5px;
       }
     }
    }
  }
}
