/*** Hero image section ***/
$heroBg: #1dd1a1;
.hero-img__container {
  width: 100%;
  height: 400px;
  background: $heroBg;
  .hero-wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    /* Inspired text */
    .inspire-text {
      color: white;
      margin: 0;
      font-size: 2rem;
      width: 90%;
    }
    /* Hero image */
    .hero-img {
      width: 80%;
      height: 80%;
      margin: auto;
      text-align: center;
      background-size: cover;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: calc(50% - 40%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
/*** Secondary header ***/
.secondary-header {
  padding: 15px 10px;
  background: $heroBg;
  display: none;
  z-index: 1000;
  .header-text {
    display: block;
    width: 80%;
    margin: auto;
    color: white;
  }
}
::ng-deep {
  .scroll-passed {
    .secondary-header {
      display: block;
      position: sticky;
      top: 0;
    }
    .layout {
      margin-top: 90px;
    }
  }
}
/*** Filter section ***/
$borderColor: #ddd;
.search-icon-wrapper {
  width: 90%;
  text-align: right;
  display: none;
  .search-icon {
    background: none;
    color: black;
    padding: 0;
    border: none;
    box-shadow: none;
    min-width: unset;
    font-size: 1.6rem;
    margin: 10px 0;
  }
}
.search-container {
  display: flex;
  justify-content: space-between;
  transform-style: preserve-3d;
  flex-wrap: wrap;
  // Filter title
  .filter-title {
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 5px;
  }
  .filter-inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &.--regular {
      order: 1;
      width: calc(67% - 20px);
      justify-content: end;
      .filter-wrapper {
        margin-right: 20px;
        width: calc(33% - 20px);
      }
    }
  }
  .filter-inner-wrapper.--additional {
    border-radius: 10px;
    border: 3px dashed #ddd;
    padding: 10px;
    width: 100%;
    order: 3;
    margin-top: -100px;
    &.hidden {
      display: none;
    }
    .filter-wrapper {
      width: calc(20% - 20px);
    }
  }
  .search-btn-wrapper {
    width: calc(33% - 20px);
    order: 2;
    .search-btn {
      margin: 5px 10px;
    }
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){
  /*** Animal Section ***/
  .animal-section {
    margin-top: -120px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){
  .hero-img__container {
    height: 300px;
    .hero-wrapper {
      .hero-img {
        height: 70%;
      }
    }
  }
  .search-container {
    .filter-title {
      font-size: 1.2rem;
    }
  }
  /*** Animal Section ***/
  .animal-section {
    margin-top: -120px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
  .hero-img__container {
    height: 250px;
    .hero-wrapper {
      width: 100%;
      .inspire-text {
        width: 80%;
        margin: auto;
      }
      .hero-img {
        height: 70%;
      }
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 40px;
    }
  }
  .search-container {
    .filter-title {
      font-size: 1.2rem;
    }
    .filter-inner-wrapper {
      .--regular {
        width: calc(57% - 20px);
      }
      &.--additional {
        flex-wrap: wrap;
        justify-content: end;
      }
    }
    .filter-inner-wrapper.--additional {
      transform-style: preserve-3d;
      .filter-wrapper {
        width: calc(33% - 20px);
        margin-right: 20px;
      }
      .filter-wrapper:nth-child(4),
      .filter-wrapper:nth-child(5) {
        margin-top: -100px;
      }
    }
    .search-btn-wrapper {
      width: calc(36% - 20px);
      .search-btn {
        font-size: 1rem;
        padding: 10px;
        margin-left: 0;
      }
    }
  }
  /*** Animal Section ***/
  .animal-section {
    margin-top: -120px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  .hero-img__container {
    height: auto;
    .hero-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      flex-direction: column;
      .inspire-text {
        order: 2;
        width: 90%;
        margin: auto;
        font-size: 24px;
        padding: 20px 0;
      }
      .hero-img {
        order: 1;
        position: relative;
        width: 100%;
        height: 200px;
        left: 0;
        margin: 0;
      }
    }
  }
  .secondary-header {
    .header-text{
      width: 90%;
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  .animal-section {
    margin-top: 50px;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  .hero-img__container {
    height: auto;
    .hero-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      flex-direction: column;
      .inspire-text {
        order: 2;
        width: 90%;
        margin: auto;
        font-size: 24px;
        padding: 10px 0;
      }
      .hero-img {
        order: 1;
        position: relative;
        width: 100%;
        height: 200px;
        left: 0;
        margin: 0;
      }
    }
  }
  .secondary-header {
    .header-text{
      width: 90%;
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  .animal-section {
    margin-top: 50px;
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){
  /*** Animal Section ***/
  .animal-section {
    margin-top: -120px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){
  .search-container {
    .filter-container {
      width: 67%;
    }
    .filter-title {
      font-size: 1.2rem;
    }
    .search-btn-wrapper {
      width: calc(33% - 20px);
    }
  }
  /*** Animal Section ***/
  .animal-section {
    margin-top: -120px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  .hero-img__container {
    height: 300px;
    .hero-wrapper {
      width: 90%;
    }
    .inspire-text {
      font-size: 1.8rem;
    }
  }
  .search-container {
    .filter-title {
      font-size: 1.2rem;
    }
    .filter-inner-wrapper {
      .--regular {
        width: calc(57% - 20px);
      }
      &.--additional {
        flex-wrap: wrap;
        justify-content: end;
      }
    }
    .filter-inner-wrapper.--additional {
      transform-style: preserve-3d;
      .filter-wrapper {
        width: calc(33% - 20px);
        margin-right: 20px;
      }
      .filter-wrapper:nth-child(4),
      .filter-wrapper:nth-child(5) {
        margin-top: -100px;
      }
    }
    .search-btn-wrapper {
      width: calc(36% - 20px);
      .search-btn {
        font-size: 1rem;
        padding: 10px;
        margin-left: 0;
      }
    }
  }
  /*** Animal Section ***/
  .animal-section {
    margin-top: -120px;
    &.additional-opened {
      margin-top: 0;
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  .hero-img__container {
    height: auto;
    .hero-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      flex-direction: column;
      .inspire-text {
        order: 2;
        width: 90%;
        margin: auto;
        font-size: 20px;
        padding: 20px 0;
      }
      .hero-img {
        order: 1;
        position: relative;
        width: 100%;
        height: 200px;
        left: 0;
        margin: 0;
      }
    }
  }
  .secondary-header {
    .header-text{
      width: 90%;
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  .animal-section {
    margin-top: 50px;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  .hero-img__container {
    height: auto;
    .hero-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      flex-direction: column;
      .inspire-text {
        order: 2;
        width: 90%;
        margin: auto;
        font-size: 20px;
        padding: 10px 0;
      }
      .hero-img {
        order: 1;
        position: relative;
        width: 100%;
        height: 150px;
        left: 0;
        margin: 0;
      }
    }
  }
  .secondary-header {
    .header-text{
      width: 90%;
    }
  }
  ::ng-deep {
    .scroll-passed .layout {
      margin-top: 0;
    }
  }
  /*** Filter Section ***/
  .search-section {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
  .search-container {
    transition: transform .3s ease-in-out;
    width: 100%;
    float: right;
    background: white;
    &.search-closed {
      transform: translateX(100%);
    }
    &.search-opened {
      transform: translateX(0);
    }
  }
  .search-icon-wrapper {
    display: block;
    width: 100%;
    .search-icon {
      margin-right: 10px;
    }
  }
  .search-title {
    display: none;
  }
  .search-container {
    display: block;
    .filter-inner-wrapper {
      &.--regular {
        width: 100%;
        display: block;
      }
      &.--additional {
        border: none;
        padding: 0;
        display: block;
        margin-top: 0;
        &.hidden {
          display: block;
        }
      }
    }
    .filter-inner-wrapper.--regular,
    .filter-inner-wrapper.--additional {
      .filter-wrapper {
        width: 100%;
        position: relative;
      }
    }
    .filter-title {
      font-weight: normal;
      font-size: 1.2rem;
      padding: 0 10px;
      position: absolute;
      top: 5px;
      &:after {
        content: ':';
      }
    }
    .search-btn-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      .search-btn {
        width: calc(50% - 5px);
        margin: 0;
        &.--more {
          display: none;
        }
      }
    }
  }
  /*** Animal list ***/
  .animal-section {
    margin-top: 50px;
  }
}
