<!-- Hero image section -->
<section class="hero-img__container">
  <div class="hero-wrapper">
    <h1 class="inspire-text">{{ inspiredText }}</h1>
    <div class="hero-img" [ngStyle]="{ 'background-image': 'url(' + heroImg + ')' }">
    </div>
  </div>
</section>
<!-- Secondary header -->
<section class="secondary-header">
  <h1 class="header-text">Animal Adoption</h1>
</section>
<div class="layout">
  <!-- Search section -->
  <section class="search-section">
    <form formGroup="filterGroup">
      <h2 class="search-title">搜索條件</h2>
      <div class="search-icon-wrapper">
        <button class="search-icon" type="button" aria-label="搜索" (click)="toggleDrawer()">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </div>
      <div class="search-container"
           formGroupName="conditions"
           [ngClass]="{'search-opened': mobileSearchOpen,
                      'search-closed': !mobileSearchOpen
                    }">
        <!-- Filter container-->
        <div class="filter-inner-wrapper --regular">
          <!-- Filter list -->
          <div class="filter-wrapper regular" *ngFor="let filter of filterList;let i = index">
            <span class="filter-title">{{ filter['type'] }}</span>
            <filter-select
              [options]="filter.options"
              [ctrl]="filterGroup.get('conditions').get(filter['apiKey'])">
            </filter-select>
          </div>
        </div>
        <div class="filter-inner-wrapper --additional" [ngClass]="{'hidden': !additionalFilter}">
          <!-- Additional filter list -->
          <div class="filter-wrapper --additional" *ngFor="let filter of additionalFilterList;let i = index">
            <span class="filter-title">{{ filter['type'] }}</span>
            <filter-select
              [options]="filter.options"
              [ctrl]="filterGroup.get('conditions').get(filter['apiKey'])">
            </filter-select>
          </div>
        </div>
        <!-- Search buttons -->
        <div class="search-btn-wrapper">
          <button (click)="applySearch()" class="search-btn --search" type="button" aria-label="搜索">搜索</button>
          <button (click)="clearFilter()" class="search-btn --reset" type="button" aria-label="清除條件">清除條件</button>
          <button (click)="toggleFilter()" class="search-btn --more" type="button" aria-label="更多">
            <ng-container *ngIf="!additionalFilter;else lessBtn">更多</ng-container>
            <ng-template #lessBtn>較少</ng-template>
          </button>
        </div>
      </div>
    </form>
  </section>
  <!-- Animal listing section -->
  <section class="animal-section" [ngClass]="{'additional-opened': additionalFilter}">
    <animal-card [data]="dataTodo"></animal-card>
  </section>
</div>
